option_settings:
  # 1. Spring Boot 애플리케이션 포트 설정
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVER_PORT
    value: 5000

  # 2. 메모리 안정성을 위해 t3.small로 설정 (선택 사항이지만 권장)
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t3.small